*

!README.md
!LICENSE
!.gitignore
!/build.gradle
!/settings.gradle
!/core/
!/core/src/
!/core/src/*
!/core/src/com/
!/core/src/com/mygdx/
!/core/src/com/mygdx/arkaxoid/
!/core/src/com/mygdx/arkaxoid/*
!/core/src/com/mygdx/arkaxoid/*/*
!/core/src/com/mygdx/arkaxoid/*/*/*
!/core/src/com/mygdx/arkaxoid/*/*/*/*
!/core/src/com/mygdx/arkaxoid/*/*/*/*/*
!/core/src/com/mygdx/arkaxoid/*/*/*/*/*/*
!/core/src/com/mygdx/arkaxoid/*/*/*/*/*/*/*
!/android/
!/android/AndroidManifest.xml
!/android/build.gradle
!/android/assets/
!/android/assets/*
!/android/assets/*/*
!/android/assets/*/*/*
!/android/assets/*/*/*/*
!/android/res/
!/android/res/values/
!/android/res/values/ids.xml
!/android/src/
!/android/src/com/
!/android/src/com/mygdx/
!/android/src/com/mygdx/arkaxoid/
!/android/src/com/mygdx/arkaxoid/android/
!/android/src/com/mygdx/arkaxoid/android/*
!/android/src/com/mygdx/arkaxoid/android/*/*
!/android/src/com/mygdx/arkaxoid/android/*/*/*
!/desktop/
!/desktop/src/
!/desktop/src/com/
!/desktop/src/com/mygdx/
!/desktop/src/com/mygdx/arkaxoid/
!/desktop/src/com/mygdx/arkaxoid/desktop/
!/desktop/src/com/mygdx/arkaxoid/desktop/*
!/libs/
!/libs/*
!/BaseGameUtils/
!/BaseGameUtils/*
!/BaseGameUtils/src/
!/BaseGameUtils/src/main/
!/BaseGameUtils/src/main/*
!/BaseGameUtils/src/main/*/*
!/BaseGameUtils/src/main/*/*/*
!/BaseGameUtils/src/main/*/*/*/*
!/BaseGameUtils/src/main/*/*/*/*/*
!/BaseGameUtils/src/main/*/*/*/*/*/*
!/BaseGameUtils/src/main/*/*/*/*/*/*/*
!/libraries/
!/libraries/*
!/libraries/*/*
!/libraries/*/*/*

